<div class="section-13">
    <div class="div-block-22 w-clearfix">
        <div class="w-container">
            <div class="div-block-30">
                <h1 class="heading-34">Um pouco sobre o que podemos ser</h1>
                <p class="paragraph-7">Hoje, amanhã e depois</p>
            </div>
        </div>
        <div class="columns-5 w-row">
            <div class="column-18 w-col w-col-4">
                <h1 class="heading-02">Entender as escolhas</h1>
            </div>
            <div class="column-14 w-col w-col-8"><img src="assets/images/sobre3.2-01.png" alt="" class="image-12"></div>
        </div>
        <div class="div-block-33">
            <p class="paragraph-8">Andar o mundo ou ter um apartamento. Trabalhar demais ou não ter trabalho. Ir de
                carro ou andando. Um casal de filhos ou nenhum filho. Velejar sozinho até a Irlanda ou estar perto de
                quem ama. Ter uma grande ideia ou viver um dia de cada vez. Ler um livro até o final ou ler vários ao
                mesmo tempo. Ativar o soneca ou levantar da cama. Se comparar ao inalcançável ou aceitar as suas
                imperfeições. Viver sem expectativas ou ser sua própria expectativa. Estar sem tempo ou dar tempo ao que
                importa.<br><br>Você é o que importa e esses questionamentos que nós temos todos os dias.<br><br>O
                problema é, que às vezes não é fácil resolver tudo sozinho, conversar sobre isso, aos poucos, vai
                organizar os pensamentos e sensações, trazer leveza para o dia-a-dia e assim viver melhor.</p>
        </div>
        <div class="columns-7 w-row">
            <div class="column-20 w-col w-col-7"><img src="assets/images/sobre1.1-01.png" alt=""></div>
            <div class="column-15 w-col w-col-5">
                <h1 class="heading-38">Compreensão &amp; autoestima</h1>
            </div>
        </div>
        <div class="div-block-34">
            <p class="paragraph-9">Deixar os grilos de lado nem sempre é a melhor opção, não é porque seu problema não é
                visível que ele é menos digno de atenção. Precisar recorrer a alguém não é incômodo, basta procurar quem
                vai te ouvir sem julgamentos. Resultados imediatos e alternativos podem parecer muito bons, mas na
                maioria dos casos causa um agravamentos dos sintomas, deixando o problema muito pior do que era no
                começo (que é quando ele deveria ser tratado).</p>
        </div>
        <div class="columns-9 w-row">
            <div class="column-21 w-col w-col-7"><img src="assets/images/sobre2.1-01.png"
                    srcset="assets/images/sobre2.1-01-1-1-p-500.png 500w, assets/images/sobre2.1-01.png 819w" sizes="100vw" alt="">
            </div>
            <div class="column-19 w-col w-col-5">
                <h1 class="heading-39">brio &amp; sense</h1>
            </div>
        </div>
        <div class="div-block-35">
            <p class="paragraph-10">Brio é o sentimento de autoestima, o ato de se amar. Essa é uma tarefa que deve ser
                construída um pouquinho a cada dia. Só é possível contribuir com os outros de maneira proveitosa e que
                realmente faça diferença se você é uma pessoa que se ama e tem conhecimento de si mesma.<br><br>Sense
                retoma o aprendizado da autoestima, pois traz o sentido, a compreensão necessária de cada dia. E essa
                busca pela compreensão das sensações é que torna a comunicação indispensável.<br><br>Será uma longa
                jornada de muito crescimento interno e ao longo dela nos juntaremos à cientistas, psicólogos,
                nutricionistas, escritores, artistas e, é claro, você. Estamos só começando, há trabalho a ser feito,
                informações a serem conhecidas, tabus a serem derrubados e vidas a serem mudadas.</p>
            <h1 class="heading-40">Agora, compreensão vem antes de autoestima.</h1>
        </div>
    </div>
</div>