<div data-collapse="medium" data-animation="default" data-duration="400" class="navigation navbar w-nav"> 
  <div class="navigation-wrap"> 
   <a class="logo-link w-nav-brand" routerLink="/"><img src="assets/images/Pictogram_logotipo-04.png" width="395" alt="" class="logo-image" srcset=""></a> 
   <div class="menu"> 
    <nav role="navigation" class="navigation-items w-nav-menu"> 
     <a aria-current="page" class="navigation-item w-nav-link" routerLink="/about" [ngClass]="{'w--current' : nav_selector1==1}" (click)="nav_selector1=1"><strong class="bold-text">terapia</strong></a> 
     <a class="navigation-item w-nav-link" routerLink="/projects" [ngClass]="{'w--current' : nav_selector1==2}" (click)="nav_selector1=2"><strong class="bold-text-2">briotext</strong></a> 
     <a class="navigation-item w-nav-link" routerLink="/sobre" [ngClass]="{'w--current' : nav_selector1==3}" (click)="nav_selector1=3"><strong class="bold-text-3">sobre</strong></a> 
     <a class="navigation-item w-nav-link" routerLink="/blog" [ngClass]="{'w--current' : nav_selector1==4}" (click)="nav_selector1=4"><strong class="bold-text-4">Login</strong></a> 
    </nav> 
    <div class="menu-button w-nav-button"> 
     <img src="assets/images/menu-icon_1menu-icon.png" width="22" alt="" class="menu-icon" srcset=""> 
    </div> 
   </div> 
   <a class="button cc-contact-us w-inline-block" routerLink="/#"> 
    <div class="text-block-3">
      ser briosense 
    </div> </a> 
  </div> 
 </div> 
 <div class="section cc-home-wrap"> 
  <div class="div-block-26"> 
   <div class="w-layout-grid grid-2"> 
  
  <div
     id="w-node-8cb0bae92ae4-1890f0bf"
     class="div-block-12">

  <div
     id="w-node-8cb0bae92ae5-1890f0bf"
     class="form-block-2 w-form">

  <form
     id="email-form"
     name="email-form"
     class="form-4">

  <label
     for="name-3"
     id="w-node-8cb0bae92ae7-1890f0bf"
     class="field-label-4">

       Cidade</label>
  
  <input
     type="text"
     class="text-field-15 w-input"
     maxlength="256"
     name="name-3"
     placeholder="Busque por cidade"
     id="name-3">

       <label for="email-2" class="field-label-5">valores</label> 
  
  <input
     type="text"
     class="text-field-17 w-input"
     maxlength="256"
     name="field"
     placeholder="Escolha o valor"
     id="field"
     required>

      </form> 
     </div> 
  
  <div
     id="w-node-8cb0bae92af3-1890f0bf"
     class="form-block-3 w-form">

  <form
     id="email-form-2"
     name="email-form-2"
     class="form-5 w-node-8cb0bae92af4-1890f0bf">

       <label for="name-4" class="field-label-6">Interesses</label> 
  
  <input
     type="text"
     class="text-field-16 w-input"
     maxlength="256"
     name="name-2"
     placeholder="Busque por interesses pessoais"
     id="name-2">

       <a class="button-13 w-button" routerLink="/#">Buscar</a> 
      </form> 
     </div> 
    </div> 
   </div> 
  </div> 
 </div> 
 <div class="section-12"> 
  <div class="w-container"> 
   <div class="div-block-29"> 
    <h1 class="heading-47">Você tem 2 resultados na sua cidade</h1> 
   </div> 
  </div> 
 </div> 
 <div class="section-12"> 
  <div class="div-block-28"> 
   <img src="assets/images/4.4-e1567252721113-1024x669.png" srcset="assets/images/4.4-e1567252721113-1024x669-p-500.png 500w, assets/images/4.4-e1567252721113-1024x669-p-800.png 800w, assets/images/4.4-e1567252721113-1024x669.png 1024w" sizes="(max-width: 1024px) 100vw, 1024px" alt="" class="image-10"> 
   <h1 class="heading-48">Mariele S.</h1> 
   <p class="paragraph-14">1,5 Km</p> 
   <p class="paragraph-15">Psicóloga Clínica e Organizacional</p> 
  </div> 
 </div> 
 <div class="section"> 
  <div class="container"> 
   <div class="div-block-18"> 
    <img src="assets/images/4.4-e1567252721113.png" width="245" alt="" class="service-icon" srcset=""> 
    <div class="paragraph-bigger2">
      Mariele S. 
    </div> 
    <div class="text-block-5">
      1,5 Km 
    </div> 
    <div class="paragraph-light">
      Psicóloga Clínica e Organizacional 
    </div> 
   </div> 
  </div> 
 </div> 
 <div class="w-container"> 
  <div class="div-block-36"> 
   <img src="assets/images/4.4-e1567252721113.png" width="245" alt="" class="service-icon" srcset=""> 
   <p class="paragraph-16">Mariele S.</p> 
   <div class="text-block-7">
     1,5 Km 
   </div> 
   <p class="paragraph-17">Psicóloga Clínica e Organizacional</p> 
  </div> 
 </div> 
  
  <footer
     id="footer"
     class="footer">

  <div class="container-2 w-container"> 
   <div class="footer-flex-container"> 
    <div class="div-block-14"> 
     <h2 class="footer-heading">SERVIÇOS</h2> 
     <ul class="list w-list-unstyled"> 
      <li><a class="footer-link" routerLink="/#">Terapias</a></li> 
      <li><a class="footer-link" routerLink="/#">Briotext</a></li> 
      <li><a class="footer-link" routerLink="/#">Podcast</a></li> 
     </ul> 
    </div> 
    <div> 
     <h2 class="footer-heading">TERMOS</h2> 
     <ul class="list-2 w-list-unstyled"> 
      <li><a class="footer-link" routerLink="/#">Termos &amp;<br>Condições</a></li> 
      <li><a class="footer-link" routerLink="/#">Privacidade</a></li> 
      <li><a class="footer-link" routerLink="/#">BrioCommunity</a></li> 
     </ul> 
    </div> 
    <div> 
     <h2 class="footer-heading">COMUNICAÇÃO</h2> 
     <ul class="list-3 w-list-unstyled"> 
      <li><a class="footer-link" routerLink="/#">Chat</a></li> 
      <li><a class="footer-link" routerLink="/#">E-mail<br>help@briosense.com.br</a></li> 
      <li><a class="footer-link" routerLink="/#"><span class="text-span-4">Você pode usar esses<br>meios para falar com<br>a gente, nos dar<br>sugestões, tirar dúvidas<br>ou fazer reclamações.</span></a></li> 
     </ul> 
    </div> 
   </div> 
   <div class="columns-4 w-row"> 
    <div class="column-8 w-col w-col-1 w-col-medium-1"> 
     <a class="d-13-link-block w-inline-block" routerLink="/#"> 
      <div class="d-13-icon-bg"> 
       <div class="d-13-icon">
          
       </div> 
      </div> </a> 
    </div> 
    <div class="column-9 w-col w-col-1 w-col-medium-1"> 
     <a class="d-13-link-block w-inline-block" routerLink="/#"> 
      <div class="d-13-icon-bg"> 
       <div class="d-13-icon">
          
       </div> 
      </div> </a> 
    </div> 
    <div class="column-11 w-col w-col-1 w-col-medium-1"> 
     <a class="d-13-link-block w-inline-block" routerLink="/#"> 
      <div class="d-13-icon-bg"> 
       <div class="d-13-icon">
          
       </div> 
      </div> </a> 
    </div> 
    <div class="column-12 w-col w-col-1 w-col-medium-1"> 
     <a class="d-13-link-block w-inline-block" routerLink="/#"> 
      <div class="d-13-icon-bg"> 
       <div class="d-13-icon">
          
       </div> 
      </div> </a> 
    </div> 
    <div class="column-13 w-col w-col-1 w-col-medium-1"> 
     <a class="d-13-link-block w-inline-block" routerLink="/#"> 
      <div class="d-13-icon-bg"> 
       <div class="d-13-icon">
          
       </div> 
      </div> </a> 
    </div> 
    <div class="column-10 w-col w-col-7 w-col-medium-7"></div> 
   </div> 
   <div class="div-block-19"> 
    <img src="assets/images/Pictogram_logotipo.branco.transparente.gif" width="100" alt="" class="image-7" srcset=""> 
    <h1 class="heading-18">Briosense Projetos do Futuro</h1> 
    <div class="text-block-4">
      Copyright © 2019 - 2020 Briosense. Todos os direitos reservados. 
    </div> 
   </div> 
  </div> 
 </footer> 
 <script src="https://d3e54v103j8qbb.cloudfront.net/js/jquery-3.4.1.min.220afd743d.js?site=5e5d4ff60f8051f87b886372" type="text/javascript" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>

