<footer id="footer" class="footer">

  <div class="container-2 w-container">
    <div class="footer-flex-container">
      <div class="div-block-14">
        <h2 class="footer-heading">SERVIÇOS</h2>
        <ul class="list-2 w-list-unstyled">
          <li><a class="footer-link" routerLink="/#">Terapias</a></li>
          <li><a class="footer-link" routerLink="/#">Briotext</a></li>
          <li><a class="footer-link" routerLink="/#">Podcast</a></li>
        </ul>
      </div>
      <div>
        <h2 class="footer-heading">TERMOS</h2>
        <ul class="list-2 w-list-unstyled">
          <li><a class="footer-link" routerLink="/#">Termos &amp;<br>Condições</a></li>
          <li><a class="footer-link" routerLink="/#">Privacidade</a></li>
          <li><a class="footer-link" routerLink="/#">BrioCommunity</a></li>
        </ul>
      </div>
      <div>
        <h2 class="footer-heading">COMUNICAÇÃO</h2>
        <ul class="list-2 w-list-unstyled">
          <li><a class="footer-link" routerLink="/#">Chat</a></li>
          <li><a class="footer-link" routerLink="/#">E-mail<br>help@briosense.com.br</a></li>
          <li><a class="footer-link" routerLink="/#"><span class="text-span-4">Você pode usar esses<br>meios para falar
                com<br>a gente, nos dar<br>sugestões, tirar dúvidas<br>ou fazer reclamações.</span></a></li>
        </ul>
      </div>
    </div>
    <div class="columns-4 w-row">
      <div class="column-8 w-col w-col-1 w-col-medium-1">
        <a class="d-13-link-block w-inline-block" routerLink="/#">
          <div class="d-13-icon-bg">
            <div class="d-13-icon">
              
            </div>
          </div>
        </a>
      </div>
      <div class="column-9 w-col w-col-1 w-col-medium-1">
        <a class="d-13-link-block w-inline-block" routerLink="/#">
          <div class="d-13-icon-bg">
            <div class="d-13-icon">
              
            </div>
          </div>
        </a>
      </div>
      <div class="column-9 w-col w-col-1 w-col-medium-1">
        <a class="d-13-link-block w-inline-block" routerLink="/#">
          <div class="d-13-icon-bg">
            <div class="d-13-icon">
              
            </div>
          </div>
        </a>
      </div>
      <div class="column-9 w-col w-col-1 w-col-medium-1">
        <a class="d-13-link-block w-inline-block" routerLink="/#">
          <div class="d-13-icon-bg">
            <div class="d-13-icon">
              
            </div>
          </div>
        </a>
      </div>
      <div class="column-9 w-col w-col-1 w-col-medium-1">
        <a class="d-13-link-block w-inline-block" routerLink="/#">
          <div class="d-13-icon-bg">
            <div class="d-13-icon">
              
            </div>
          </div>
        </a>
      </div>
      <div class="column-9 w-col w-col-7 w-col-medium-7"></div>
    </div>
    <div class="div-block-19">
      <img src="assets/images/Pictogram_logotipo.branco.transparente.gif" width="100" alt="" class="image-7" srcset="">
      <h1 class="heading-18">Briosense Projetos do Futuro</h1>
      <div class="text-block-4">
        Copyright © 2019 - 2020 Briosense. Todos os direitos reservados.
      </div>
    </div>
  </div>
</footer>
<script src="https://d3e54v103j8qbb.cloudfront.net/js/jquery-3.4.1.min.220afd743d.js?site=5e7cd240ab9cca7ea641ea73"
  type="text/javascript" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
  crossorigin="anonymous"></script>