<!-- <h1>Welcome to Angular SSR Example</h1> -->
<!-- <div class="nav">
    <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Home</a>
</div> -->
<div class="card">
    <div class="card-header">
        <nav class="navbar navbar-light bg-light">
            <img src="assets/img/Pictogram_logotipo-04.png" class="img-fluid">
            <ul class="nav justify-content-end">
                <li class="nav-item">
                    <a class="nav-link active text-secondary" href="#">terapia</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-secondary" href="#">briotext</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-secondary" href="#">sobre</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-secondary" href="#">login</a>
                </li>
                <ul class="nav nav-pills">
                    <li class="nav-item">
                        <a class="nav-link active bg-success text-white" href="#">Ser Briosense</a>
                    </li>
                </ul>
            </ul>
        </nav>
        <!-- <div class="card-body text-center">

        </div> -->
    </div>
</div>