<div data-collapse="medium" data-animation="default" data-duration="400" class="navigation navbar w-nav">
    <div class="navigation-wrap"><a href="/" aria-current="page" class="logo-link w-nav-brand w--current"><img
                src="images/Pictogram_logotipo-04.png" width="395" alt="" class="logo-image"></a>
        <div class="menu">
            <nav role="navigation" class="navigation-items w-nav-menu"><a href="/about"
                    class="navigation-item w-nav-link"><strong class="bold-text">terapia</strong></a><a href="/projects"
                    class="navigation-item w-nav-link"><strong class="bold-text-2">briotext</strong></a><a href="/team"
                    class="navigation-item w-nav-link"><strong class="bold-text-3">sobre</strong></a><a href="/blog"
                    class="navigation-item w-nav-link"><strong class="bold-text-4">Login</strong></a></nav>
            <div class="menu-button w-nav-button"><img src="images/menu-icon_1menu-icon.png" width="22" alt=""
                    class="menu-icon"></div>
        </div> <a href="#" class="button cc-contact-us w-inline-block">
            <div class="text-block-3">ser briosense</div>
        </a>
    </div>
</div>
<div class="section-1">
    <div class="my-container1">
        <h1 class="heading-13">Conteúdo &amp; Terapia</h1>
        <p class="paragraph-3">A sessão no dia marcado<br>e a evolução todos os dias.</p>
        <div class="w-layout-grid grid-2">
            <div class="div-block-12">
                <div class="form-block-2 w-form">
                    <form id="email-form" name="email-form" data-name="Email Form" class="form-4"><label for="name"
                            id="w-node-a3b769c97543-3190f0b6" class="field-label-4">Cidade</label><input type="text"
                            class="text-field-8 w-input" maxlength="256" name="name" data-name="Name"
                            placeholder="Busque por cidade" id="name"><label for="email"
                            class="field-label-5">valores</label><input type="text" class="text-field-7 w-input"
                            maxlength="256" name="field" data-name="Field" placeholder="Escolha o valor" id="field"
                            required=""></form>
                    <div class="w-form-done">
                        <div>Thank you! Your submission has been received!</div>
                    </div>
                    <div class="w-form-fail">
                        <div>Oops! Something went wrong while submitting the form.</div>
                    </div>
                </div>
                <div class="form-block-3 w-form">
                    <form id="email-form-2" name="email-form-2" data-name="Email Form 2"
                        class="form-5 w-node-32ff9bcd6d60-3190f0b6"><label for="name-2"
                            class="field-label-6">Interesses</label><input type="text" class="text-field-9 w-input"
                            maxlength="256" name="name-2" data-name="Name 2"
                            placeholder="Busque por interesses pessoais" id="name-2"><a
                            id="w-node-d616f3e73e8b-3190f0b6" href="#" class="button-6 w-button">Buscar</a></form>
                    <div class="w-form-done">
                        <div>Thank you! Your submission has been received!</div>
                    </div>
                    <div class="w-form-fail">
                        <div>Oops! Something went wrong while submitting the form.</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="div-block-11">
            <div data-w-id="844d750b-52c7-0861-2fbb-95d3a5f12048" data-animation-type="lottie"
                data-src="https://uploads-ssl.webflow.com/5e5d4ff60f8051f87b886372/5e654f6764616e53e8aba3a0_data.json"
                data-loop="1" data-direction="1" data-autoplay="1" data-is-ix2-target="0" data-renderer="canvas"
                data-default-duration="19" data-duration="0" class="lottie-animation-3"></div>
        </div>
    </div>
</div>
<div class="section-6">
    <div class="div-block-8">
        <div class="columns-2 w-row">
            <div class="column-4 w-col w-col-6"><img src="images/iphonemockup.png"
                    srcset="images/iphonemockup-p-500.png 500w, images/iphonemockup-p-800.png 800w, images/iphonemockup-p-1080.png 1080w, images/iphonemockup-p-1600.png 1600w, images/iphonemockup.png 2616w"
                    sizes="(max-width: 479px) 96vw, (max-width: 767px) 97vw, 48vw" alt="" class="image-2"></div>
            <div class="column-2 w-col w-col-6">
                <h1 class="heading-14">Compreensão</h1>
                <p class="paragraph-5">para entender<br>os diferentes<br>pontos de vista.</p>
                <h1 class="heading-15">Autoestima</h1>
                <p class="paragraph-4">para desenvolver<br>e evoluir sua personalidade.</p><a href="#"
                    class="button-5 w-button"><strong class="bold-text-5">Briotext</strong></a>
            </div>
        </div>
    </div>
</div>
<div class="section-7">
    <div class="div-block-10">
        <div class="div-block-16">
            <h2 class="heading-16">Entenda-se,<br>isso é encontrar<br>a satisfação.</h2><a href="#"
                class="button-7 w-button">Iniciar</a>
        </div>
    </div>
</div>
<div class="section-8">
    <div class="div-block-13">
        <div class="w-row">
            <div class="column-3 w-col w-col-6">
                <h1 class="heading-19">Whatfaq Podcast</h1>
                <p class="paragraph-6">Um podcast para falar<br>sobre coisas do dia a dia<br>de maneira informal
                    e<br>sem preconceitos.</p><a href="#" class="button-8 w-button">Conhecer</a>
            </div>
            <div class="w-col w-col-6"><img src="images/whatfaq.png" alt=""></div>
        </div>
    </div>
</div>
<footer id="footer" class="footer">
    <div class="container-2 w-container">
        <div class="footer-flex-container">
            <div class="div-block-14">
                <h2 class="footer-heading">SERVIÇOS</h2>
                <ul class="w-list-unstyled">
                    <li><a href="#" class="footer-link">Terapias</a></li>
                    <li><a href="#" class="footer-link">Briotext</a></li>
                    <li><a href="#" class="footer-link">Podcast</a></li>
                </ul>
            </div>
            <div>
                <h2 class="footer-heading">TERMOS</h2>
                <ul class="w-list-unstyled">
                    <li><a href="#" class="footer-link">Termos &amp;<br>Condições</a></li>
                    <li><a href="#" class="footer-link">Privacidade</a></li>
                    <li><a href="#" class="footer-link">BrioCommunity</a></li>
                </ul>
            </div>
            <div>
                <h2 class="footer-heading">COMUNICAÇÃO</h2>
                <ul class="w-list-unstyled">
                    <li><a href="#" class="footer-link">Chat</a></li>
                    <li><a href="#" class="footer-link">E-mail<br>help@briosense.com.br</a></li>
                    <li><a href="#" class="footer-link"><span class="text-span-4">Você pode usar esses<br>meios para
                                falar com<br>a gente, nos dar<br>sugestões, tirar dúvidas<br>ou fazer
                                reclamações.</span></a></li>
                </ul>
            </div>
        </div>
        <div class="w-row">
            <div class="w-col w-col-1"><img src="images/Pictogram_logotipo.branco.transparente.gif" alt=""
                    class="image-3"></div>
            <div class="w-col w-col-11">
                <h1 class="heading-18">Briosense Projetos do Futuro</h1>
                <div class="text-block-4">Copyright © 2019 - 2020 Briosense. Todos os direitos reservados.</div>
            </div>
        </div>
    </div>
</footer>