<div data-collapse="medium" data-animation="default" data-duration="400" class="navigation navbar w-nav"> 
  <div class="navigation-wrap"> 
   <a aria-current="page" class="logo-link w-nav-brand w--current" routerLink="/"><img src="assets/images/Pictogram_logotipo-04.png" width="395" alt="" class="logo-image" srcset=""></a> 
   <div class="menu"> 
    <nav role="navigation" class="navigation-items w-nav-menu"> 
     <a class="navigation-item w-nav-link" routerLink="/about" [ngClass]="{'w--current' : nav_selector1==1}" (click)="nav_selector1=1"><strong class="bold-text">terapia</strong></a> 
     <a class="navigation-item w-nav-link" routerLink="/projects" [ngClass]="{'w--current' : nav_selector1==2}" (click)="nav_selector1=2"><strong class="bold-text-2">briotext</strong></a> 
     <a class="navigation-item w-nav-link" routerLink="/sobre" [ngClass]="{'w--current' : nav_selector1==3}" (click)="nav_selector1=3"><strong class="bold-text-3">sobre</strong></a> 
     <a class="navigation-item w-nav-link" routerLink="/#" [ngClass]="{'w--current' : nav_selector1==4}" (click)="nav_selector1=4"><strong class="bold-text-4">Login</strong></a> 
    </nav> 
    <div class="menu-button w-nav-button"> 
     <img src="assets/images/menu-icon_1menu-icon.png" width="22" alt="" class="menu-icon" srcset=""> 
    </div> 
   </div> 
   <a class="button cc-contact-us w-inline-block" routerLink="/#"> 
    <div class="text-block-3">
      ser briosense 
    </div> </a> 
  </div> 
 </div> 
 <div class="section-1"> 
  <div class="my-container1"> 
   <h1 class="heading-13">Conteúdo &amp; Terapia</h1> 
   <p class="paragraph-3">A sessão no dia marcado<br>e a evolução todos os dias.</p> 
   <div class="w-layout-grid grid-2"> 
  
  <div
     id="w-node-652cdf8f85b1-3190f0b6"
     class="div-block-12">

  <div
     id="w-node-a3b769c97541-3190f0b6"
     class="form-block-2 w-form">

  <form
     id="email-form"
     name="email-form"
     class="form-4">

  <label
     for="name"
     id="w-node-a3b769c97543-3190f0b6"
     class="field-label-4">

       Cidade</label>
  
  <input
     type="text"
     class="text-field-8 w-input"
     maxlength="256"
     name="name"
     placeholder="Busque por cidade"
     id="name">

       <label for="email" class="field-label-5">valores</label> 
  
  <input
     type="text"
     class="text-field-7 w-input"
     maxlength="256"
     name="field"
     placeholder="Escolha o valor"
     id="field"
     required>

      </form> 
     </div> 
  
  <div
     id="w-node-32ff9bcd6d5f-3190f0b6"
     class="form-block-3 w-form">

  <form
     id="email-form-2"
     name="email-form-2"
     class="form-5 w-node-32ff9bcd6d60-3190f0b6">

       <label for="name-2" class="field-label-6">Interesses</label> 
  
  <input
     type="text"
     class="text-field-9 w-input"
     maxlength="256"
     name="name-2"
     placeholder="Busque por interesses pessoais"
     id="name-2">

       <a class="button-10 w-button" routerLink="/#">Buscar</a> 
      </form> 
     </div> 
    </div> 
   </div> 
   <div class="div-block-11"> 
  
  <div
     data-w-id="844d750b-52c7-0861-2fbb-95d3a5f12048"
     data-animation-type="lottie"
     data-src="https://uploads-ssl.webflow.com/5e5d4ff60f8051f87b886372/5e7792980014e666d71a8db4_data2.json"
     data-loop="1"
     data-direction="1"
     data-autoplay="1"
     data-is-ix2-target="0"
     data-renderer="svg"
     data-default-duration="17"
     data-duration="0"
     class="lottie-animation-3">

    </div> 
   </div> 
  </div> 
 </div> 
  
  <div
     data-w-id="065b2805-b881-4ebd-aed8-9c16f9e10118"
     class="section-6">

  <div class="div-block-8"> 
   <div class="columns-2 w-row"> 
    <div class="column-4 w-col w-col-6"> 
     <img src="assets/images/iphonemockup.png" srcset="assets/images/iphonemockup-p-500.png 500w, assets/images/iphonemockup-p-800.png 800w, assets/images/iphonemockup-p-1080.png 1080w, assets/images/iphonemockup-p-1600.png 1600w, assets/images/iphonemockup.png 2616w" sizes="(max-width: 479px) 100vw, (max-width: 767px) 97vw, 48vw" alt="" class="image-2"> 
    </div> 
    <div class="column-2 w-col w-col-6"> 
     <h1 class="heading-14">Compreensão</h1> 
     <p class="paragraph-5">para entender<br>os diferentes<br>pontos de vista.</p> 
     <h1 class="heading-15">Autoestima</h1> 
     <p class="paragraph-4">para desenvolver<br>e evoluir sua personalidade.</p> 
     <a class="buttonzin w-button" routerLink="/#"><strong class="bold-text-5">Briotext</strong></a> 
    </div> 
   </div> 
  </div> 
 </div> 
 <div class="section-7"> 
  <div class="div-block-10"> 
  
  <div
     id="w-node-7c80c53eb805-3190f0b6"
     class="div-block-16">

    <h2 class="heading-16">Entenda-se,<br>isso é encontrar<br>a satisfação.</h2> 
    <a class="buttonzin w-button" routerLink="/#">Iniciar</a> 
   </div> 
  </div> 
 </div> 
 <div class="section-8"> 
  <div class="div-block-13"> 
   <div class="w-row"> 
    <div class="column-3 w-col w-col-6"> 
     <h1 class="heading-19">Whatfaq Podcast</h1> 
     <p class="paragraph-6">Um podcast para falar<br>sobre coisas do dia a dia<br>de maneira informal e<br>sem preconceitos.</p> 
     <a class="buttonzin w-button" routerLink="/#">Conhecer</a> 
    </div> 
    <div class="column-5 w-col w-col-6"> 
     <img src="assets/images/whatfaq.png" alt="" class="image-8" srcset=""> 
    </div> 
   </div> 
  </div> 
 </div> 
  
  <footer
     id="footer"
     class="footer">

  <div class="container-2 w-container"> 
   <div class="footer-flex-container"> 
    <div class="div-block-14"> 
     <h2 class="footer-heading">SERVIÇOS</h2> 
     <ul class="list w-list-unstyled"> 
      <li><a class="footer-link" routerLink="/#">Terapias</a></li> 
      <li><a class="footer-link" routerLink="/#">Briotext</a></li> 
      <li><a class="footer-link" routerLink="/#">Podcast</a></li> 
     </ul> 
    </div> 
    <div> 
     <h2 class="footer-heading">TERMOS</h2> 
     <ul class="list-2 w-list-unstyled"> 
      <li><a class="footer-link" routerLink="/#">Termos &amp;<br>Condições</a></li> 
      <li><a class="footer-link" routerLink="/#">Privacidade</a></li> 
      <li><a class="footer-link" routerLink="/#">BrioCommunity</a></li> 
     </ul> 
    </div> 
    <div> 
     <h2 class="footer-heading">COMUNICAÇÃO</h2> 
     <ul class="list-3 w-list-unstyled"> 
      <li><a class="footer-link" routerLink="/#">Chat</a></li> 
      <li><a class="footer-link" routerLink="/#">E-mail<br>help@briosense.com.br</a></li> 
      <li><a class="footer-link" routerLink="/#"><span class="text-span-4">Você pode usar esses<br>meios para falar com<br>a gente, nos dar<br>sugestões, tirar dúvidas<br>ou fazer reclamações.</span></a></li> 
     </ul> 
    </div> 
   </div> 
   <div class="columns-4 w-row"> 
    <div class="column-8 w-col w-col-1 w-col-medium-1"> 
     <a class="d-13-link-block w-inline-block" routerLink="/#"> 
      <div class="d-13-icon-bg"> 
       <div class="d-13-icon">
          
       </div> 
      </div> </a> 
    </div> 
    <div class="column-9 w-col w-col-1 w-col-medium-1"> 
     <a class="d-13-link-block w-inline-block" routerLink="/#"> 
      <div class="d-13-icon-bg"> 
       <div class="d-13-icon">
          
       </div> 
      </div> </a> 
    </div> 
    <div class="column-11 w-col w-col-1 w-col-medium-1"> 
     <a class="d-13-link-block w-inline-block" routerLink="/#"> 
      <div class="d-13-icon-bg"> 
       <div class="d-13-icon">
          
       </div> 
      </div> </a> 
    </div> 
    <div class="column-12 w-col w-col-1 w-col-medium-1"> 
     <a class="d-13-link-block w-inline-block" routerLink="/#"> 
      <div class="d-13-icon-bg"> 
       <div class="d-13-icon">
          
       </div> 
      </div> </a> 
    </div> 
    <div class="column-13 w-col w-col-1 w-col-medium-1"> 
     <a class="d-13-link-block w-inline-block" routerLink="/#"> 
      <div class="d-13-icon-bg"> 
       <div class="d-13-icon">
          
       </div> 
      </div> </a> 
    </div> 
    <div class="column-10 w-col w-col-7 w-col-medium-7"></div> 
   </div> 
   <div class="div-block-19"> 
    <img src="assets/images/Pictogram_logotipo.branco.transparente.gif" width="100" alt="" class="image-7" srcset=""> 
    <h1 class="heading-18">Briosense Projetos do Futuro</h1> 
    <div class="text-block-4">
      Copyright © 2019 - 2020 Briosense. Todos os direitos reservados. 
    </div> 
   </div> 
  </div> 
 </footer> 
 <script src="https://d3e54v103j8qbb.cloudfront.net/js/jquery-3.4.1.min.220afd743d.js?site=5e5d4ff60f8051f87b886372" type="text/javascript" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>

