<div data-collapse="medium" data-animation="default" data-duration="400" class="navigation navbar w-nav"> 
  <div class="navigation-wrap"> 
   <a class="logo-link w-nav-brand" routerLink="/"><img src="assets/images/Pictogram_logotipo-04.png" width="395" alt="" class="logo-image" srcset=""></a> 
   <div class="menu"> 
    <nav role="navigation" class="navigation-items w-nav-menu"> 
     <a class="navigation-item w-nav-link" routerLink="/about" [ngClass]="{'w--current' : nav_selector1==1}" (click)="nav_selector1=1"><strong class="bold-text">terapia</strong></a> 
     <a aria-current="page" class="navigation-item w-nav-link" routerLink="/projects" [ngClass]="{'w--current' : nav_selector1==2}" (click)="nav_selector1=2"><strong class="bold-text-2">briotext</strong></a> 
     <a class="navigation-item w-nav-link" routerLink="/sobre" [ngClass]="{'w--current' : nav_selector1==3}" (click)="nav_selector1=3"><strong class="bold-text-3">sobre</strong></a> 
     <a class="navigation-item w-nav-link" routerLink="/blog" [ngClass]="{'w--current' : nav_selector1==4}" (click)="nav_selector1=4"><strong class="bold-text-4">Login</strong></a> 
    </nav> 
    <div class="menu-button w-nav-button"> 
     <img src="assets/images/menu-icon_1menu-icon.png" width="22" alt="" class="menu-icon" srcset=""> 
    </div> 
   </div> 
   <a class="button cc-contact-us w-inline-block" routerLink="/#"> 
    <div class="text-block-3">
      ser briosense 
    </div> </a> 
  </div> 
 </div> 
 <div class="section-9"> 
  <div class="divblog"> 
   <h5 class="datacat">Pessoas<span class="text-span-6">20 de dezembro de 2019</span></h5> 
   <h1 class="titleblog">As conversas de fim de ano</h1> 
   <h1 class="resumeblog">As conversas de fim de ano são parte essencial das reuniões<br>em família, todos os cômodos da casa estarão lotados de pessoas nos próximos dias.</h1> 
  </div> 
  <img src="assets/images/blog-02-02.png" srcset="assets/images/blog-02-02-p-500.png 500w, assets/images/blog-02-02-p-800.png 800w, assets/images/blog-02-02-p-1080.png 1080w, assets/images/blog-02-02.png 1920w" sizes="100vw" alt="" class="image-4"> 
  <div class="divblog"> 
   <h5 class="datacat">Música <span class="text-span-11">26 de novembro de 2019</span></h5> 
   <h1 class="titleblog">Baco Exu do Blues romantiza a depressão</h1> 
   <h1 class="resumeblog">Em 2018, um novo álbum do rapper trouxe versos sobre<br>depressão e como ele lida com as situações sobre o que fazem não ver sentido nas coisas.</h1> 
  </div> 
  <img src="assets/images/txt-baco-01.png" srcset="assets/images/txt-baco-01-p-500.png 500w, assets/images/txt-baco-01-p-800.png 800w, assets/images/txt-baco-01-p-1080.png 1080w, assets/images/txt-baco-01-p-1600.png 1600w, assets/images/txt-baco-01.png 1920w" sizes="100vw" alt="" class="image-5"> 
  <div class="divblog"> 
   <h5 class="datacat">Música <span class="text-span-11">26 de novembro de 2019</span></h5> 
   <h1 class="titleblog">BoJack Horseman nunca<br>esteve tão atual.</h1> 
   <h5 class="resumeblog">Na divisão por gêneros da Netflix, BoJack aparece como uma<br>comédia, isso pode parecer meio inusitado já que falar da série<br>sempre remete às caricaturas da vida Hollywoodiana.</h5> 
  </div> 
  <img src="assets/images/texto-4-04.png" srcset="assets/images/texto-4-04-p-500.png 500w, assets/images/texto-4-04-p-800.png 800w, assets/images/texto-4-04-p-1080.png 1080w, assets/images/texto-4-04.png 1920w" sizes="100vw" alt="" class="image-11"> 
 </div> 
  
  <footer
     id="footer"
     class="footer">

  <div class="container-2 w-container"> 
   <div class="footer-flex-container"> 
    <div class="div-block-14"> 
     <h2 class="footer-heading">SERVIÇOS</h2> 
     <ul class="list w-list-unstyled"> 
      <li><a class="footer-link" routerLink="/#">Terapias</a></li> 
      <li><a class="footer-link" routerLink="/#">Briotext</a></li> 
      <li><a class="footer-link" routerLink="/#">Podcast</a></li> 
     </ul> 
    </div> 
    <div> 
     <h2 class="footer-heading">TERMOS</h2> 
     <ul class="list-2 w-list-unstyled"> 
      <li><a class="footer-link" routerLink="/#">Termos &amp;<br>Condições</a></li> 
      <li><a class="footer-link" routerLink="/#">Privacidade</a></li> 
      <li><a class="footer-link" routerLink="/#">BrioCommunity</a></li> 
     </ul> 
    </div> 
    <div> 
     <h2 class="footer-heading">COMUNICAÇÃO</h2> 
     <ul class="list-3 w-list-unstyled"> 
      <li><a class="footer-link" routerLink="/#">Chat</a></li> 
      <li><a class="footer-link" routerLink="/#">E-mail<br>help@briosense.com.br</a></li> 
      <li><a class="footer-link" routerLink="/#"><span class="text-span-4">Você pode usar esses<br>meios para falar com<br>a gente, nos dar<br>sugestões, tirar dúvidas<br>ou fazer reclamações.</span></a></li> 
     </ul> 
    </div> 
   </div> 
   <div class="columns-4 w-row"> 
    <div class="column-8 w-col w-col-1 w-col-medium-1"> 
     <a class="d-13-link-block w-inline-block" routerLink="/#"> 
      <div class="d-13-icon-bg"> 
       <div class="d-13-icon">
          
       </div> 
      </div> </a> 
    </div> 
    <div class="column-9 w-col w-col-1 w-col-medium-1"> 
     <a class="d-13-link-block w-inline-block" routerLink="/#"> 
      <div class="d-13-icon-bg"> 
       <div class="d-13-icon">
          
       </div> 
      </div> </a> 
    </div> 
    <div class="column-11 w-col w-col-1 w-col-medium-1"> 
     <a class="d-13-link-block w-inline-block" routerLink="/#"> 
      <div class="d-13-icon-bg"> 
       <div class="d-13-icon">
          
       </div> 
      </div> </a> 
    </div> 
    <div class="column-12 w-col w-col-1 w-col-medium-1"> 
     <a class="d-13-link-block w-inline-block" routerLink="/#"> 
      <div class="d-13-icon-bg"> 
       <div class="d-13-icon">
          
       </div> 
      </div> </a> 
    </div> 
    <div class="column-13 w-col w-col-1 w-col-medium-1"> 
     <a class="d-13-link-block w-inline-block" routerLink="/#"> 
      <div class="d-13-icon-bg"> 
       <div class="d-13-icon">
          
       </div> 
      </div> </a> 
    </div> 
    <div class="column-10 w-col w-col-7 w-col-medium-7"></div> 
   </div> 
   <div class="div-block-19"> 
    <img src="assets/images/Pictogram_logotipo.branco.transparente.gif" width="100" alt="" class="image-7" srcset=""> 
    <h1 class="heading-18">Briosense Projetos do Futuro</h1> 
    <div class="text-block-4">
      Copyright © 2019 - 2020 Briosense. Todos os direitos reservados. 
    </div> 
   </div> 
  </div> 
 </footer> 
 <script src="https://d3e54v103j8qbb.cloudfront.net/js/jquery-3.4.1.min.220afd743d.js?site=5e5d4ff60f8051f87b886372" type="text/javascript" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>

