<div data-collapse="medium" data-animation="default" data-duration="400" class="navigation navbar w-nav"> 
  <div class="navigation-wrap"> 
   <a class="logo-link w-nav-brand" routerLink="/"><img src="assets/images/Pictogram_logotipo-04.png" width="395" alt="" class="logo-image" srcset=""></a> 
   <div class="menu"> 
    <nav role="navigation" class="navigation-items w-nav-menu"> 
     <a class="navigation-item w-nav-link" routerLink="/about" [ngClass]="{'w--current' : nav_selector1==1}" (click)="nav_selector1=1"><strong class="bold-text">terapia</strong></a> 
     <a class="navigation-item w-nav-link" routerLink="/projects" [ngClass]="{'w--current' : nav_selector1==2}" (click)="nav_selector1=2"><strong class="bold-text-2">briotext</strong></a> 
     <a class="navigation-item w-nav-link" routerLink="/sobre" [ngClass]="{'w--current' : nav_selector1==3}" (click)="nav_selector1=3"><strong class="bold-text-3">sobre</strong></a> 
     <a class="navigation-item w-nav-link" routerLink="/blog" [ngClass]="{'w--current' : nav_selector1==4}" (click)="nav_selector1=4"><strong class="bold-text-4">Login</strong></a> 
    </nav> 
    <div class="menu-button w-nav-button"> 
     <img src="assets/images/menu-icon_1menu-icon.png" width="22" alt="" class="menu-icon" srcset=""> 
    </div> 
   </div> 
   <a class="button cc-contact-us w-inline-block" routerLink="/#"> 
    <div class="text-block-3">
      ser briosense 
    </div> </a> 
  </div> 
 </div> 
 <div class="section"> 
  <div class="container cc-blog-detail"> 
   <div class="blog-detail-header-wrap"> 
    <h1></h1> 
    <div class="label cc-blog-date"></div> 
   </div> 
   <div class="detail-header-image"></div> 
   <div class="rich-text w-richtext"></div> 
  </div> 
 </div> 
 <div class="section cc-cta"> 
  <div class="container"> 
   <div class="cta-wrap"> 
    <div> 
     <div class="cta-text"> 
      <div class="heading-jumbo-small">
        Grow your business.<br></div> 
      <div class="paragraph-bigger2 cc-bigger-light">
        Today is the day to build the business of your dreams. Share your mission with the world — and blow your customers away.<br></div> 
     </div> 
     <a class="button cc-jumbo-button w-inline-block" routerLink="/#"> 
      <div>
        Start Now 
      </div> </a> 
    </div> 
   </div> 
  </div> 
 </div> 
 <div class="section"> 
  <div class="container"> 
   <div class="footer-wrap"> 
    <a href="https://webflow.com/" target="_blank" class="webflow-link w-inline-block"><img src="assets/images/webflow-w-small2x_1webflow-w-small2x.png" width="15" alt="" class="webflow-logo-tiny" srcset=""> 
     <div class="paragraph-tiny">
       Powered by Webflow 
     </div></a> 
   </div> 
  </div> 
 </div> 
 <script src="https://d3e54v103j8qbb.cloudfront.net/js/jquery-3.4.1.min.220afd743d.js?site=5e5d4ff60f8051f87b886372" type="text/javascript" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>

