<div class="section-9">
    <div class="divblog">
        <h5 class="datacat">Pessoas<span class="text-span-6">20 de dezembro de 2019</span></h5>
        <h1 class="titleblog">As conversas de fim de ano</h1>
        <h1 class="resumeblog">As conversas de fim de ano são parte essencial das reuniões<br>em família, todos os
            cômodos da casa estarão lotados de pessoas nos próximos dias.</h1>
    </div><img src="assets/images/blog-02-02.png"
        srcset="assets/images/blog-02-02-p-500.png 500w, assets/images/blog-02-02-p-800.png 800w, assets/images/blog-02-02-p-1080.png 1080w, assets/images/blog-02-02.png 1920w"
        sizes="100vw" alt="" class="image-4">
    <div class="divblog">
        <h5 class="datacat">Música <span class="text-span-11">26 de novembro de 2019</span></h5>
        <h1 class="titleblog">Baco Exu do Blues romantiza a depressão</h1>
        <h1 class="resumeblog">Em 2018, um novo álbum do rapper trouxe versos sobre<br>depressão e como ele lida com as
            situações sobre o que fazem não ver sentido nas coisas.</h1>
    </div><img src="assets/images/txt-baco-01.png"
        srcset="assets/images/txt-baco-01-p-500.png 500w, assets/images/txt-baco-01-p-800.png 800w, assets/images/txt-baco-01-p-1080.png 1080w, assets/images/txt-baco-01-p-1600.png 1600w, assets/images/txt-baco-01.png 1920w"
        sizes="100vw" alt="" class="image-5">
    <div class="divblog">
        <h5 class="datacat">Música <span class="text-span-11">26 de novembro de 2019</span></h5>
        <h1 class="titleblog">BoJack Horseman nunca<br>esteve tão atual.</h1>
        <h5 class="resumeblog">Na divisão por gêneros da Netflix, BoJack aparece como uma<br>comédia, isso pode parecer
            meio inusitado já que falar da série<br>sempre remete às caricaturas da vida Hollywoodiana.</h5>
    </div><img src="assets/images/texto-4-04.png"
        srcset="assets/images/texto-4-04-p-500.png 500w, assets/images/texto-4-04-p-800.png 800w, assets/images/texto-4-04-p-1080.png 1080w, assets/images/texto-4-04.png 1920w"
        sizes="100vw" alt="" class="image-11">
</div>