<div class="section cc-home-wrap">
    <div class="div-block-26">
        <div class="w-layout-grid grid-2">
            <div id="w-node-8cb0bae92ae4-1890f0bf" class="div-block-12">
                <div id="w-node-8cb0bae92ae5-1890f0bf" class="form-block-2 w-form">
                    <form id="email-form" name="email-form" data-name="Email Form" class="form-4"><label for="name-3"
                            id="w-node-8cb0bae92ae7-1890f0bf" class="field-label-4">Cidade</label><input type="text"
                            class="text-field-15 w-input" maxlength="256" name="name-3" data-name="Name 3"
                            placeholder="Busque por cidade" id="name-3"><label for="email-2"
                            class="field-label-5">valores</label><input type="text" class="text-field-17 w-input"
                            maxlength="256" name="field" data-name="Field" placeholder="Escolha o valor" id="field"
                            required=""></form>
                    <div class="w-form-done">
                        <div>Thank you! Your submission has been received!</div>
                    </div>
                    <div class="w-form-fail">
                        <div>Oops! Something went wrong while submitting the form.</div>
                    </div>
                </div>
                <div id="w-node-8cb0bae92af3-1890f0bf" class="form-block-3 w-form">
                    <form id="email-form-2" name="email-form-2" data-name="Email Form 2"
                        class="form-5 w-node-8cb0bae92af4-1890f0bf"><label for="name-4"
                            class="field-label-6">Interesses</label><input type="text" class="text-field-16 w-input"
                            maxlength="256" name="name-2" data-name="Name 2"
                            placeholder="Busque por interesses pessoais" id="name-2"><a href="#"
                            class="button-13 w-button">Buscar</a></form>
                    <div class="w-form-done">
                        <div>Thank you! Your submission has been received!</div>
                    </div>
                    <div class="w-form-fail">
                        <div>Oops! Something went wrong while submitting the form.</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="section-12">
    <div class="w-container">
        <div class="div-block-29">
            <h1 class="heading-47">Você tem 2 resultados na sua cidade</h1>
        </div>
    </div>
</div>
<div class="section-12">
    <div class="div-block-28"><img src="assets/images/4.4-e1567252721113-1024x669.png"
            srcset="assets/images/4.4-e1567252721113-1024x669-p-500.png 500w, assets/images/4.4-e1567252721113-1024x669-p-800.png 800w, assets/images/4.4-e1567252721113-1024x669.png 1024w"
            sizes="100vw" alt="" class="image-10">
        <h1 class="heading-48">Mariele S.</h1>
        <p class="paragraph-14">1,5 Km</p>
        <p class="paragraph-15">Psicóloga Clínica e Organizacional</p>
    </div>
</div>
<div class="section">
    <div class="container">
        <div class="div-block-18"><img src="assets/images/4.4-e1567252721113.png" width="245" alt="" class="service-icon">
            <div class="paragraph-bigger2">Mariele S.</div>
            <div class="text-block-5">1,5 Km</div>
            <div class="paragraph-light">Psicóloga Clínica e Organizacional</div>
        </div>
    </div>
</div>
<div class="w-container">
    <div class="div-block-36"><img src="assets/images/4.4-e1567252721113.png" width="245" alt="" class="service-icon">
        <p class="paragraph-16">Mariele S.</p>
        <div class="text-block-7">1,5 Km</div>
        <p class="paragraph-17">Psicóloga Clínica e Organizacional</p>
    </div>
</div>