<div data-collapse="medium" data-animation="default" data-duration="400" class="navigation navbar w-nav"> 
  <div class="navigation-wrap"> 
   <a class="logo-link w-nav-brand" routerLink="/"><img src="assets/images/Pictogram_logotipo-04.png" width="395" alt="" class="logo-image" srcset=""></a> 
   <div class="menu"> 
    <nav role="navigation" class="navigation-items w-nav-menu"> 
     <a class="navigation-item w-nav-link" routerLink="/about" [ngClass]="{'w--current' : nav_selector1==1}" (click)="nav_selector1=1"><strong class="bold-text">terapia</strong></a> 
     <a class="navigation-item w-nav-link" routerLink="/projects" [ngClass]="{'w--current' : nav_selector1==2}" (click)="nav_selector1=2"><strong class="bold-text-2">briotext</strong></a> 
     <a class="navigation-item w-nav-link" routerLink="/sobre" [ngClass]="{'w--current' : nav_selector1==3}" (click)="nav_selector1=3"><strong class="bold-text-3">sobre</strong></a> 
     <a class="navigation-item w-nav-link" routerLink="/blog" [ngClass]="{'w--current' : nav_selector1==4}" (click)="nav_selector1=4"><strong class="bold-text-4">Login</strong></a> 
    </nav> 
    <div class="menu-button w-nav-button"> 
     <img src="assets/images/menu-icon_1menu-icon.png" width="22" alt="" class="menu-icon" srcset=""> 
    </div> 
   </div> 
   <a class="button cc-contact-us w-inline-block" routerLink="/#"> 
    <div class="text-block-3">
      ser briosense 
    </div> </a> 
  </div> 
 </div> 
 <div class="section"> 
  <div class="styleguide-header-wrap"> 
   <div class="heading-jumbo">
     Styleguide 
   </div> 
   <div class="paragraph-bigger2 cc-bigger-light">
     Source of truth of this template. 
   </div> 
  </div> 
  <div class="container"> 
   <div class="styleguide-content-wrap"> 
    <div class="styleguide-block"> 
     <div class="label cc-styleguide-label">
       Headings 
     </div> 
     <div class="heading-jumbo">
       Heading Jumbo 
     </div> 
     <div class="heading-jumbo-small">
       Heading Jumbo 
     </div> 
     <div class="heading-jumbo-tiny">
       Heading Jumbo 
     </div> 
     <h1>Heading 1</h1> 
     <h2>Heading 2</h2> 
     <h3>Heading 3</h3> 
     <h4>Heading 4</h4> 
     <h5>Heading 5</h5> 
     <h6>Heading 6</h6> 
    </div> 
    <div class="divider"></div> 
    <div class="styleguide-block"> 
     <div class="label cc-styleguide-label">
       Paragraphs &amp; Links 
     </div> 
     <p class="paragraph-bigger2">Paragraph-bigger</p> 
     <p>Paragraph</p> 
     <p class="paragraph-light">Paragraph-de-emphasized</p> 
     <p class="paragraph-small">Paragraph-smaller</p> 
     <p class="paragraph-tiny">Paragraph-tiny</p> 
     <div class="label">
       Label 
     </div> 
     <a routerLink="/#">A text link</a> 
    </div> 
    <div class="divider"></div> 
    <div class="styleguide-block"> 
     <div class="label cc-styleguide-label">
       Buttons &amp; Form Elements 
     </div> 
     <div class="styleguide-button-wrap"> 
      <a class="button w-inline-block" routerLink="/#"> 
       <div>
         Explore 
       </div> </a> 
     </div> 
     <div class="styleguide-button-wrap"> 
      <a class="button cc-jumbo-button w-inline-block" routerLink="/#"> 
       <div>
         Explore 
       </div> </a> 
     </div> 
    </div> 
    <div class="divider"></div> 
    <div class="styleguide-block"> 
     <div class="label cc-styleguide-label">
       Rich Text Element 
     </div> 
     <div class="rich-text w-richtext"> 
      <h2>What’s a Rich Text element?</h2> 
      <p>The rich text element allows you to create and format headings, paragraphs, blockquotes, images, and video all in one place instead of having to add and format them individually. Just double-click and easily create content. </p> 
      <blockquote>
        The rich text element allows you to create and format headings, paragraphs, blockquotes, images, and video all in one place instead of having to add and format them individually. Just double-click and easily create content. 
      </blockquote> 
      <h4>Static and dynamic content editing</h4> 
      <p>A rich text element can be used with static or dynamic content. For static content, just drop it into any page and begin editing. For dynamic content, add a rich text field to any collection and then connect a rich text element to that field in the settings panel. Voila!</p> 
  
  <figure
     style="max-width:1306px"
     id="w-node-e50305e3e80a-a090f0bd"
     class="w-richtext-align-fullwidth w-richtext-figure-type-image">

       <div> 
        <img src="assets/images/placeholder-1.svg" alt="" srcset=""> 
       </div> 
      </figure> 
      <h4>How to customize formatting for each rich text</h4> 
      <p>Headings, paragraphs, blockquotes, figures, images, and figure captions can all be styled after a class is added to the rich text element using the "When inside of" nested selector system.</p> 
      <ul> 
       <li>The rich text element allows you to create and format headings</li> 
       <li>Headings, paragraphs, blockquotes, figures, images, and figure captions</li> 
       <li>A rich text element can be used with static or dynamic content.</li> 
      </ul> 
     </div> 
    </div> 
   </div> 
  </div> 
 </div> 
 <script src="https://d3e54v103j8qbb.cloudfront.net/js/jquery-3.4.1.min.220afd743d.js?site=5e5d4ff60f8051f87b886372" type="text/javascript" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>

